.card {
    width: 420px;
    background-color: #0D1119;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 570px;
    position: relative;
}

.search {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    padding: 10px;
    align-items: center;
    background-color: #131823;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 1px #5B6178;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.search > input {
    background-color: #131823;
    outline: none;
    border: none;
    color: #7185AA;
    width: 100%;
    font-size: 16px;
    box-shadow: none;
}

::placeholder { 
    color: #7185AA;
    opacity: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-content > img {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
}

.name {
    color: #fff;
    font-size: 14px;
}

.urls {
    display: flex;
    flex-direction: row;
}

.cousine-details {
    background-color: #313545;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

.ingredient-details {
    background-color: #313545;
    border-radius: 6px;
    padding: 10px 20px;
}

.add-btn {
    background-color: #171F2F;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0 2px;
    justify-content: center;
    padding: 0 2px;
    font-family: inherit;
    height: 24px;
    width: 90px;
}

.suggestion {
    position: absolute;
    background-color: #121826;
    padding: 8px;
    border-radius: 6px;
    width: 404px;
    top: 74px;
    overflow: auto;
    max-height: 260px;
}

.list {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    cursor: pointer;
}

span > img {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
}

.recipe-details {
    display: flex;
    align-items: center;
}

.divider {
    width: 1px;
    height: 18px;
    background: #1F2A44;
    margin: 0 8px;
}

.difficulty-level {
    height: 12px;
    width: 12px;
    border-radius: 0px;
}
